
body{
    margin: 0;
    background: #0d0d0df1;

}
.movieposterBox{
   display: flex;
   width: 100%; 
   height:500px;
   background-position: center;
   background-size: cover;
   flex-direction: column;
   align-items: start;
}
.nameBox{
    display: flex;
    width: 350px;
    text-align: center;
    margin-top: 90px;
    margin-left: 10px;
}
.posterBox{ 
    display: flex;
    width: 400px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 3px;
    border-color: #fff;
    border-radius: 20px;

}
.backdropPoster{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.movieName{
    color: #fff;
   
    
}
.downsection{
    display: flex;
    justify-content: space-between;
}
.movieRatingBox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: solid 1px;
    width: 200px;
    height: 40px;
    margin-right: 4px;
    font-size: medium;
    border-radius: 20px;
    margin-top: 10px;
}
.coloumns3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: solid 1px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgb(148, 87, 50);
}
.boxDwnSection1{
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: medium;
}
.boxDwnSection2{
    color: #fff;
    text-align: center;
   
}
.overviewBox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #281a1a;
    font-size: medium;
}
.textBox{
    width: 600px;
    background-color: #88868696;
    color: #fff;
    border-radius: 20px;
    
}
.storyline {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  margin-left: 5px;
}
.storyline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color:rgba(225, 128, 17, 0.923);
}
.overview{
    margin-left: 30px;
}