
*{
  margin:0;
  padding: 0;
  
}.container{
    width:100%;
    height:700px;
    background:linear-gradient(135deg,#cf9aff,#95c0ff );
    
    margin-top: 0px;
}
.headline{
    color: white;
    font-size: 27px;
    margin-left: 50px;
    padding-top: 25px;
    

}
.notes-button{
  margin-left: 50px;
  margin-top: 10px;
  height: 35px;
  width:120px;
  border-radius: 150px;;
  border:0cap;
  background: linear-gradient(135deg,#9418fd,#571094 );
    

  font-size: 19px;
}

.notes{
  position: relative;
  padding: 20px;
  outline:none;
  width: 100%;
  max-width: 300px;
  outline: none;
  background: white;
  margin-top: 35px;
  margin-left: 50px;
}

.delete{
  background: rgb(136, 15, 15);
  color:#ffff;
  width: 70px;
  height: 25px;
  margin-left:320px;
  margin-top: 3px;
  margin-bottom: 5px;
  border: none;
  position: absolute;
  border-radius: 50px;
}